body {
margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
}

.container {
  width: 1280px;
  padding: 20px;

}

.link {
   text-decoration: none;
   font-size: 80px;
   font-family: 'Roboto', sans-serif;
}

.black {
    color:rgba(0, 0, 0, 1)

}
.blue {
    color: #4BCAFF;
}

.top-menu {
    width: 1280px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(53, 68, 79, 1);              
   
  
}

.top-menu li {
    list-style: none; 
    
}  

.item-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.item {
   text-decoration: none;

   
   border-right: 1px solid rgba(255, 255, 255, 1);
   border-left:1px solid rgba(255, 255, 255, 1);
   padding: 24px 32px 24px 32px;
   font-size: 24px;
   font-family: 'Roboto', sans-serif;
 
   transition:0.2s;
}

   
  

.item:hover {
    transform: scale(1.0);
    background-color: rgb(40, 47, 54);
}
aside {
   margin-top: 49px;
   display: flex;
   
}
.aside-menu li{
    display: flex;
    flex-direction: column;
}

.left-menu {
 display: flex;
 flex-direction: column;
height: 100%;


font-size: 27px;
font-family: 'Roboto', sans-serif;
line-height: 27px;
list-style-type: none;
border: 1px solid #000;
      
}


.image-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 52px;

  
  
}
.img {
    border: 1px solid black;
    padding: 10% 33% 10% 33%;

}
.img-wraper {
  width:100%;
  height:529px;
  margin-bottom: 37px;

}
.menu {
  color: inherit;
  text-decoration: none;
 
}
.menu-item {
   color: rgba(73, 88, 99, 1);
   padding: 24px 44px 24px 44px;
   transition:0.2s;
}

.menu-item:hover {
  transform: scale(1.0);
  color: #000; 
  background-color: rgba(219, 219, 219, 1);
    
}


.text {
  color: #2C2C2C;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
 
}


.footer-menu  {
 list-style-type: none;
 text-align: center;

 

 
}
.footer-list {
    display: flex;
    
    
 
}
.footer-items {
    list-style: none;
   
    
    font-size: 28px;
    color: #0C1927;
    line-height: 28px;
    font-family: 'Roboto';
    transition:0.2s;
    padding: 21px 10px 21px 10px;

}
.footer-link {
    color: inherit;
text-decoration: none;
}
.footer-link:hover{
    transform: scale(1.0);
    color: #3181A6;
    border-bottom: 1px  solid #3181A6;

}
.copyright {
    font-size: 24px;
    color: #010101;
    line-height: 24px;
    font-family: 'Roboto';
    margin: auto;
    
}
.footer {
    display: flex;
    
    justify-content: space-around;
    background-color:rgba(99, 105, 110, 0.48); 
   
}
.copy {
    display: flex;
  
}